h1 {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
    font-size: 80px;
}
button {
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    background-color: white;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
}
.button {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-bottom: 0px;
    padding-top: 30px;  
    }
 a {
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    background-color: white;
    color: blueviolet;
    text-align: center;
 }
 .centered-button {
     text-align: center;
 }